body {
  background-color: #fcfcfc;
  margin: 0;
  font: 14px "Inter", sans-serif;
}

header {
  border-bottom: 2px solid black;
  background-color: #fcfcfc;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px;
}

/*Navbar Section*/
nav {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header Logo */
.navbar-logo img {
  height: 70px;
  width: auto;
}

/* Header Menu */
.navbar-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.navbar-container ul li a {
  text-decoration: none;
  color: #000000;
}

.navbar-container ul li a:hover {
  color: pink;
}

/* Main Content */
main {
  max-width: 1000px;
  margin: 1rem auto;
}

.all-project {
  width: 990px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  border: 2px solid rgb(6, 6, 6);
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 230px;
  margin: 20px;
  padding: 0.5rem 1rem;
}

.button a {
  background-color: black;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  margin-bottom: 30px;
}
