:root {
  --color-bg-main: #fcfcfc;
  --font-size-default: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-main);
  margin: 0;
  font: var(--font-size-default);
}

body,
input,
textarea {
  font-family: "Inter", sans-serif, system-ui;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
.postit-list {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
}

p {
  font-family: "Inter", sans-serif;
  font-size: medium;
}

/* header */
.navbar {
  border-bottom: 2px solid black;
  background-color: var(--color-bg-main);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 5px 15px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 0 1rem;
  max-width: 1000px;
  margin: 1rem auto;
}
article section {
  margin-bottom: 60px;
}

p {
  line-height: 1.6;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  object-fit: contain;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site main {
  flex: 1;
}

.navbar-logo img {
  height: 60px;
  width: auto;
}

.navbar-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.navbar-container ul li a {
  text-decoration: none;
  color: black;
}

.navbar-container ul li a:hover {
  color: pink;
}

/* footer */
.footer {
  margin-top: 40px;
  width: 100%;
  font-size: 4px;
  text-align: center;
}
.footer .heart-icon {
  vertical-align: middle;
  width: 5;
  height: 5;
  margin: 0 4px;
}
.footer .author {
  font-weight: bold;
  color: black;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  gap: 1rem;
  text-align: left;
}

.hero-image img {
  width: 180px;
  height: 243px;
}

.hero-intro {
  max-width: 400px;
  cursor: default;
}
.hero-intro h1 {
  font-family: "Playpen Sans", cursive;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-intro .ale:hover {
  color: pink;
}

.hero-intro p {
  font-family: "Mynerve", cursive;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* about section */

.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* biar atasnya sejajar */
  gap: 2rem; /* jarak antar kolom */
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

/* my story */
.my-story {
  width: 580px;
  max-width: 800px;
  cursor: default;
}

/* skills */

.badges ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* biar kalau kepanjangan turun ke bawah */
  gap: 10px;
}

.badges ul li {
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: var(--font-size-default);
  cursor: default;
  transition: background-color 0.3s, color 0.3s;
}

.badges ul li:hover {
  background-color: pink;
}

/* profile section*/

.profile-picture-container {
  position: relative; /* parent untuk absolute positioning */
  display: flex;
  justify-content: center;
  top: 40px;
}

.decoration {
  position: absolute;
  left: 30%;
  top: -25px;
  width: 40px;
}

.profile-picture {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--color-bg-main);
  border: 4px solid black;
}

/* post-it */
.postit-container {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 1rem;
}

.postit-list {
  list-style: none;
  padding: 0px;
  margin: 0;
  cursor: grab;
}
.postit-list .postit {
  position: absolute;
  padding: 1rem;
  width: 70px;
  height: 60px;
  text-align: center;
  font-weight: light;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

/* post-it color & position */
.postit.n1 {
  background: #ffe9e3;
  top: 18px;
  left: 18px;
  transform: rotate(-8deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.postit.n2 {
  background: #fff6b3;
  top: 48px;
  left: 150px;
  transform: rotate(6deg);
}
.postit.n3 {
  background: #e6f0ff;
  top: 110px;
  left: 80px;
  transform: rotate(-4deg);
}
.postit.n4 {
  background: #f5e6ff;
  top: 160px;
  left: 220px;
  transform: rotate(8deg);
}
.postit.n5 {
  background: #e0ffe0;
  top: 70px;
  left: 280px;
  transform: rotate(-6deg);
}

/* location icon */
.postit.n1 .postit-icon {
  width: 20px;
  height: auto;
  margin-bottom: 4px;
}

.postit.n1 p {
  margin: 0;
  font-size: 10px;
}
/* projects section */

.projects-container {
  max-width: 1000px;
  margin: 1rem auto;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  border: 2px solid rgb(6, 6, 6);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.project h2 {
  margin: 0;
}

.project p {
  flex: 1;
  margin: 0;
}

.card {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.layout-with-sidebar {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}
.layout-with-sidebar > * {
  min-width: 0;
}
.layout-with-sidebar main {
  flex: 1 1 500px;
  gap: 2rem; /* jarak antar article dan sidebar */
  margin: 0 auto; /* tengah */
  padding-left: 2.5rem; /* jarak sisi kiri */
  padding-right: 2rem;
  max-width: 900px;
}

.layout-with-sidebar article img {
  width: 80%;
  max-width: 80%;
  height: auto;
}

/* sidebar */
.sidebar {
  max-width: 250px;
  width: 100%;
  flex: 0 1 250px;
  border-left: 2px solid black;
  padding-top: 1rem;
}

/* style setiap section */
.sidebar > div {
  border-bottom: 2px solid;
  padding: 10px;
}

.published-section {
  padding-bottom: 20px;
}
.comments-link {
  font-style: italic;
}

.comments-link:hover {
  color: pink;
}

.content-list {
  list-style: none;
  text-decoration: none;
  padding: 5px;
  line-height: 2;
}

.content-list :hover {
  background-color: pink;
}

.overview {
  width: 796;
  height: 402;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  margin-top: 40px;
}
.overview h3 {
  font-style: italic;
}

.ginee {
  font-weight: bold;
  color: #762eec;
}
.accurate {
  font-weight: bold;
  color: #e52348;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
  margin-top: 5px;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 12px;
}

.contact-form label {
  display: none;
}
.contact-form .item-top-left {
  grid-column: 1;
  grid-row: 1;
}

.contact-form .item-top-right {
  grid-column: 2;
  grid-row: 1;
}

.contact-form .item-bottom {
  grid-column: 1/3;
  border: 2px solid black;
}

.contact-form .button {
  grid-column: 1/3;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  font-size: var(--font-size-default);
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .hero {
    gap: 2rem;
  }

  .hero-image img {
    width: 270px;
    height: 364px;
  }

  .hero-intro h1 {
    font-size: 2rem;
  }

  .hero-intro p {
    font-size: 1rem;
  }
.footer{
  font-size: 5px;}
}

  @media (min-width: 1024px) {
  .hero-intro h1 {
    font-size: 3rem;
  }

  .hero-intro p {
    font-size: 1.5rem;
  }

  .footer{
  font-size: 8px;}
}

