body {
  background-color: #fcfcfc;
  margin: 0;
  font: 14px "Inter", sans-serif;
}

header {
  border-bottom: 2px solid black;
  background-color: #fcfcfc;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px;
}

/*Navbar Section*/
nav {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header Logo */
.navbar-logo img {
  height: 70px;
  width: auto;
}

/* Header Menu */
.navbar-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.navbar-container ul li a {
  text-decoration: none;
  color: #000000;
}

.navbar-container ul li a:hover {
  color: pink;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
}

.card {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

/* Contact Form */
form {
  max-width: 659px;
  max-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
  margin-top: 5px;
  row-gap: 2px;
  column-gap: 20px;
}

form input,
form textarea,
form {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 20px;
  font-size: 12px;
}

#name {
  grid-column: 1;
  grid-row: 1;
}

#email {
  grid-column: 2;
  grid-row: 1;
}

#message {
  grid-column: 1/3;
}

.button {
  grid-column: 1/3;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

/*footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer .heart-icon {
  vertical-align: middle; /* sejajarkan dengan teks */
  margin: 0 4px; /* jarak kiri-kanan kecil */
}

footer .author {
  font-weight: bold; /* tebalkan nama */
  color: #000; /* biar lebih kontras */
}
